.about {
    min-height: 474px;
    padding: 0 80px;
    display: flex;
    align-items: center;

    scroll-margin-top: 100px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.section-accent {
    width: 60px;
    height: 4px;
    background-color: #ff6b00;
}

.about-title {
    font-family: "Oswald", serif;
    font-size: 48px;
    font-weight: bold;
}

.about-intro {
    width: 541px;
    font-family: "Source Serif 4", serif;
    font-size: 24px;
    font-weight: 400;
}

.about-university h3 {
    font-family: "Oswald", serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-university p {
    font-family: "Source Serif 4", serif;
    font-size: 20px;
    font-weight: 400;
    color: #ff6b00;
}

.about-skills-title {
    font-family: "Oswald", serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}

.about-skills {
    font-family: "Source Serif 4", serif;
    font-size: 20px;
    font-weight: 400;
    color: #b5b5b5;
}