.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    background: #0f0f0f;
    font-family: oswald;
}

.navbar-logo h1 {
    font-size: 38px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: default;
    user-select: none;
    border-bottom: 2px solid transparent;
}

.navbar-logo h1:hover {
    border-color: #ff6b00;
}

.navbar-links {
    display: flex;
    gap: 32px;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.navbar-links a:hover{
    color: #ff6b00;
    transform: translateY(-3px);
}